@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        @*<div id="dynamicContentContainer"></div>*@
        @await Component.InvokeAsync("EventLog", new { viewName = "EventLogList", take = 5 })
       
    </div>
</div>

@*@section Scripts{ 
    <script>   
        $.get('@Url.Action("EventLogList", "Home")', function(content){
            $("#dynamicContentContainer").html(content);
        });
    </script>
}*@